@{
	Layout = "_Layout";
}
<div class="main-body">
<h1>История изменений(Changelog)</h1>
<h2>v0.21</h2>
<ol>
	<li>На странице с результат добавлено отображение актуальности цены. (только верна ли общая цена без детализации)</li>
	<li>Исправлен баг с недоступностью работы кнопки "пересчитать" на странице результатов</li>
	<li>Исправлены ошибки в текстах</li>
</ol>
<h2>v0.22</h2>
<ol>
	<li>добавлена страница Changelog, доступна по адресу /Homes/Changelog </li>
	<li>Ввод и тестирование системы рабочего процесса Git-flow </li>
</ol>
<h2>v0.23</h2>
<ol>
	<li>Куча правок связаных с код стаилом </li>
	<li>Добавлена возможность перелистовать страницы в истории </li>
	<li>На странице калькулятора добавлено отображение текушего формата из стандартных </li>
	<li>На странице результатов исправлено отображение поля Листов:шт/лист </li>
</ol>
<h2>v1.00</h2>
<ol>
	<li>Добавлен мультипросчет на странице с результатом </li>
	<li>Добавлены возможность редактировать католог бумаг, ламинации, центы расходников принтера </li>
	<li>Исправлены баг с не рабочим копированием в буфер обмена</li>
	<li>Добавленная тестовая система с передачей e-mail с одного устройста на другое </li>
</ol>

<h2>v1.10</h2>
<ol>
	<li>Перенесены настроки машины в базу данных </li>
	<li>Добавлена страница для изменения настроек машин</li>
	<li>Добавлена функция добавления произвольных наценок</li>
</ol>
<h2>v1.12</h2>
<ol>
	<li>Мелкие правки отображения страниц</li>
</ol>
<h2>v1.21</h2>
<ol>
	<li>Добавленно время в истории сохраннения</li>
	<li>Добавлены коментарии в истории сохраннения</li>
	<li>Поиск в истории по времени</li>
	<li>Поиск в истории по id</li>
	<li>Обновлена страница результатов/li>
	<li>Правки стилей</li>
</ol>
	<h2>v2.00</h2>
	<ol>
		<li>Добавленна система crm</li>
	</ol>
	<h2>v2.01</h2>
	<ol>
		<li>Исправлен баг с сортировками заказов по id и дате </li>
		<li>Исправлен баг с копированием цены </li>
		<li>Уменьшена высота строки таблины заказов </li>
	</ol>
	<h2>v2.02</h2>
	<ol>
		<li>Цвет строки таблицы соответсвует статусу</li>
		<li>Исправлен баг с копирования цен </li>
		<li>Увеличен размер поля с сортировкой по статусу </li>
		<li>Добавлена макска ввода телефона </li>
	</ol>
</div>