@{
	Layout = "_Layout";
}
<h1>История изменяя(Changelog)</h1>
<h2>v0.22</h2>
<ol>
	<li>добавлена страница Changelog, доступна по адресу /Homes/Changelog </li>
	<li>Ввод и тестирование системы рабочего процесса Git-flow </li>
</ol>
<h2>v0.21</h2>
<ol>
	<li>Добавлено отображение, на странице результатов, актуальность расчетов. (только верно ли общий расчет без детализации)</li>
	<li>Исправлен баг с недоступностью работы кнопки "пересчитать" на странице резултатов</li>
	<li>Исправленный ошибки в текстах</li>
</ol>