
@{
    Layout = "_Layout";
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Привет ASP.NET Core! mvs</h2>
    <form method="get" action="/ValuesProcessing">
    <input name="one" type="number"/>
    <input type="submit" value="otpravit"/>
    </form>
    <a href="/ValuesProcessing">Чего то добавить))</a>
</body>
</html>