@using printing_calculator.ViewModels;
@using Microsoft.AspNetCore.Html;

@{
	Layout = "_Layout";
}
@section JS{
	<script src="/OrderGeneratorTable.js" charset="utf-8"></script>
	<script src="/OrderPopUpControl.js" charset="utf-8"></script>
	<script src="/OrderGeneratorPage.js" charset="utf-8"></script>
	<script src="/OrderGeneratorResultHistory.js" charset="utf-8"></script>
	<script src="/AddNewOrder.js" charset="utf-8"></script>
	<script src="/DetalContact.js" charset="utf-8"></script>
	<script src="/Copy.js" charset="utf-8"></script>
	
}

@section Style {
	<link rel="stylesheet" type="text/css" href="/order.css">
	<link rel="stylesheet" type="text/css" href="/result.css">
	
}

<div class="main-body">
	<p>
		<button class="buttonUp" onclick="addNewOrderHref();">Добавить</button>

	</p>
	<div class="tableFlex">
		<div style="overflow-x:auto;">
			<table class="TableOrder" id="table">
				<tbody>
					<tr>
						<th>
							<div class="textTableHistory" onclick="searchId();">N</div>
							<input class="search" id="searchId" type="text" style="display:none">
						</th>
						<th>
							<div class="textTableHistory">Статус</div>
						</th>
						<th>
							<div class="textTableHistory">Продукты</div>
						</th>
						<th>
							<div class="textTableHistory">Клиент</div>
						</th>
						<th>
							<div class="textTableHistory">Сумма</div>
						</th>
						<th>
							<div class="textTableHistory" onclick="searchDate();">Дата</div>
							<input class="search" id="searchDate" type="date" style="display:none">
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="pageBar" id="pageBar">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History" value="&lt;&lt;">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=0" value="&lt;">

		<input class="buttonNextActiv" type="submit" disabled="disabled" onclick="toPage(0)" formmethod="post"
			   formaction="History?page=1" value="1">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=2" value="2">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=3" value="3">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=4" value="4">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=5" value="5">
		<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=2" value="&gt;">

	</div>
	<div class="detalContact" id="detalContact" style="display: none;">
		<div class="close" onclick="closeVenetka();"> [x]</div>
		<P class="contact">Имя:</P>
		<h2 class="contact" id="contactName">Алесей</h2>
		<P class="contact">Датали:</P>
		<h2 class="contact" id="contactDetal">Работает тут</h2>
		<P class="contact">E-mail:</P>
		<div class="contactMail" id="contactEmail"></div>

		<P class="contact">Тел:</P>
		<div class="contact" id="contactPhone"></div>

		<div class="tableFlex">
		<div style="overflow-x:auto;">
				<table class="TableContactOrder" id="TableContactOrder">
				<tbody>
					<tr>
						<th>
							<div class="textTableHistory" onclick="searchId();">N</div>
							<input class="search" id="searchId" type="text" style="display:none">
						</th>
						<th>
							<div class="textTableHistory">Статус</div>
						</th>
						<th>
							<div class="textTableHistory">Продукты</div>
						</th>
						<th>
							<div class="textTableHistory">Клиент</div>
						</th>
						<th>
							<div class="textTableHistory">Сумма</div>
						</th>
						<th>
							<div class="textTableHistory" onclick="searchDate();">Дата</div>
							<input class="search" id="searchDate" type="date" style="display:none">
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>

	<div class="detalProduction" id="detalProduction" style="display: none;">
		<div class="close" onclick="closeVenetka();"> [x]</div>
		<P class="contact">Название:</P>
		<h2 class="contact" id="detalProductionName">визитки</h2>
		<P class="contact">Датали:</P>
		<h2 class="contact" id="detalProductionDetails">-</h2>

		<table class="tableHistory" id="productionTable">
			<tbody>
				<tr>
					<th>
						<div class="textTableHistory">N</div>
					</th>
					<th>
						<div class="textTableHistory">Дата</div>
					</th>
					<th>
						<div class="textTableHistory">размер</div>
					</th>
					<th>
						<div class="textTableHistory">тираж</div>
					</th>
					<th>
						<div class="textTableHistory">бумага</div>
					</th>
					<th>
						<div class="textTableHistory">постпечатная</div>
					</th>
					<th>
						<div class="textTableHistory">цена</div>
					</th>
				</tr>

			</tbody>
		</table>

	</div>

	<div class="detalHistory" style="display:none;" id="detalHistory">
	</div>



</div>

<div class="venetka" id="vignette" onclick="closeVenetka();" style="display: none"></div>