<h3>Настройки принтера!</h3>

<form class="addConsumables">
    <div class="t">
        <div>
            <div class="t2">
                <p>Надбавочная цена за каждый лист</p>
            </div>
            <div class="t2">
                <p>Цена приладки</p>
            </div>
            <div class="t2">
                <p>Отпечатков на полном комплекте тонеров</p>
            </div>
            <div class="t2">
                <p>Отпечатков на полном комплекте фотобарабанов</p>
            </div>

            <div class="t2">
                <p>Максимально длинна листа</p>
            </div>
            <div class="t2">
                <p>Максимально ширина листа</p>
            </div>
            <div class="t2">
                <p>Поля печати, длинна</p>
            </div>
            <div class="t2">
                <p>Поля печати, ширина</p>
            </div>
            <div class="t2">
                <p>Растояние от изделия до меток</p>
            </div>
            <div class="t2">
                <p>Растояние отмежду изделиями</p>
            </div>

        </div>
        <div>
            <div class="t2">
                <p>3</p>
            </div>
            <div class="t2">
                <p>4545</p>
            </div>
            <div class="t2">
                <p>7000</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>
            <div class="t2">
                <p>71487</p>
            </div>

        </div>
        <div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
            <div class="t2">
                <input class="inputNumber" name="name" type="number" value="название">
            </div>
        </div>
        <div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Эта стоимость добавляется к каждому листу дополнительно.
                        На эту цену действует наценка!!!
                        В эту цену можно включить
                        все издержки не учитываемые.
                        По типу расходников принтера, для которых не выходит посчитать
                        цену на один прогон листа, цена работы сотрудников,
                        аренда и тд.
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Эта стоимость добавляется к общей сумме текушего расчета.
                        На него НЕ действует наценка!
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Для подсчета этой цифры необходимо
                        в начале и конце месяца(можно и большего периуда) засеч сколько отпечатков сделано,
                        сколько тонера осталось(для каждого цвета). Высчитываем:
                        1 Сколько тонера потратилось для каждого цвета и берем средне арефметическое.
                        2 Сколько листов отпечатнно за расчетный периуд.
                        3 Соответсвенно делаем расчеты - отп.листов*100/потр.%тонера.
                        Чем на большем промежутки сделанны расчеты - тем точнее будет расчет цены расходников.
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Для подсчета этой цифры необходимо
                        в начале и конце месяца(можно и большего периуда) засеч сколько отпечатков сделано,
                        сколько % фотобарабана осталось. Высчитываем:
                        1 Сколько фотобарабана потратилось для каждого цвета и берем средне арефметическое.
                        2 Сколько листов отпечатнно за расчетный периуд.
                        Соответсвенно делаем расчеты - отп.листов*100/потр.%фотобарабана.
                        Чем на большем промежутки сделанны расчеты - тем точнее будет расчет цены расходников.
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        По длинной стороне
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        По короткой стороне
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Поля печати по длинной стороне
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Поля печати по короткой стороне
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        С краю растояние от самого изделия до места где хотя чуть чуть видена метка будет.
                        Скорее всего это растояние между изделиями + чуть чуть)
                    </span>
                </div>
            </div>
            <div class="t2">
                <div class="tooltip">
                    <p>?</p>
                    <span class="tooltiptext">
                        Растояние между изделиями при раскладке.
                    </span>
                </div>
            </div>

        </div>
    </div>
    <input class="button" type="submit" formmethod="post" formaction="result.html" value="изменить">
</form>