.inputNumber {
    width: 48px;
    padding: 6px;
    margin: 8px 0;
    border-style: solid;
    background-color: #F4F4F4;
    outline: none;
    -webkit-transition: border-left-color 1s, background-color 1s, border-top-right-radius 1s, border-bottom-right-radius 1s;
}

.inputName {
    width: 120px;
    padding: 6px;
    margin: 8px 0;
    
    border-style: solid;
    background-color: #F4F4F4;
    outline: none;
    -webkit-transition: border-left-color 1s, background-color 1s, border-top-right-radius 1s, border-bottom-right-radius 1s;
}

.addPaper{
    margin: 20px 0;
}
.addSize {
    margin-top: 100px;
}
.selectorMenu{
    margin-right: 10px;
}

input.button {
    background-color: #69c469;
    /* background-color: #8fbc8f; */

    border: none;
    color: #F4F4F4;
    padding: 10px 0px;
    margin: 0;
    margin-right: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 72px;

    border-radius: 5px;
    -webkit-transition: box-shadow 0.5s;
}


input.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* настройки связанные с таблицей истории */
.tableFlex {
    display: flex;

}

.tableHistory {
    overflow-x: auto;
}

table {
    border-spacing: 0;
    text-align: center;
}

th,
td {
    /* width: 100%; */
    font-size: 16px;
    border-bottom: 1px solid #ddd;

}

td {
    padding: 5px 5px 3px 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #e0e0e0;
}

tr.none{
    color: rgb(161, 161, 161);
}
.textTableHistory {
    padding: 0 10px;
}

th {
    background-color: #8fbc8f;
    color: white;
    padding: 10px 0;
}