@using printing_calculator.ViewModels;
@using Microsoft.AspNetCore.Html;

@{
	Layout = "_Layout";
}
@section JS{
	<script src="/Order.js" charset="utf-8"></script>
	<script src="/Order2.js" charset="utf-8"></script>
}

@section Style {
    <link rel="stylesheet" type="text/css" href="/order.css">
}

<div class="main-body">
	<p>
		<button class="buttonUp">Добавить</button>
		<button class="buttonUp">Добавить</button>
		<button class="buttonUp">Добавить</button>
		<button class="buttonUp">Добавить</button>
	</p>
	<div class="tableFlex">
		<div style="overflow-x:auto;">
			<table id="table">
				<tbody >
					<tr>
						<th>
							<div class="textTableHistory">N</div>
							<input class="search" type="text">
						</th>
						<th>
							<div class="textTableHistory">Статус</div>
						</th>
						<th>
							<div class="textTableHistory">Продукты</div>
						</th>
						<th>
							<div class="textTableHistory">Клиент</div>
						</th>
						<th>
							<div class="textTableHistory">Сумма</div>
						</th>
						<th>
							<div class="textTableHistory">Дата</div>
							<input class="search" type="text">
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="pageBar">
		<form>
			<input class="buttonNext" type="submit" formmethod="post" formaction="History" value="&lt;&lt;">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=0" value="&lt;">

			<input class="buttonNextActiv" type="submit" disabled="disabled" formmethod="post"
				   formaction="History?page=1" value="1">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=2" value="2">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=3" value="3">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=4" value="4">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=5" value="5">
			<input class="buttonNext" type="submit" formmethod="post" formaction="History?page=2" value="&gt;">
		</form>

	</div>
	<div class="detalContact" style="display: none;">
		<div class="close" onclick=""> [x]</div>
		<P class="contact">Имя:</P>
		<h2 class="contact">Алесей</h2>
		<P class="contact">Датали:</P>
		<h2 class="contact">Работает тут</h2>
		<P class="contact">E-mail:</P>
		<h2 class="contactMail">print@print.life</h2>
		<h2 class="contactMail">print@print.life</h2>
		<h2 class="contactMail">print@print.life</h2>
		<P class="contact">Тел:</P>
		<h2 class="contact">+791245810254</h2>
		<div class="close"> [x]</div>
	</div>

	<div class="detalProduction" style="display: none;">
		<div class="close" onclick=""> [x]</div>
		<P class="contact">Название:</P>
		<h2 class="contact">визитки</h2>
		<P class="contact">Датали:</P>
		<h2 class="contact">-</h2>

		<table class="tableHistory">
			<tbody>
				<tr>
					<th>
						<div class="textTableHistory">N</div>
					</th>
					<th>
						<div class="textTableHistory">Дата</div>
					</th>
					<th>
						<div class="textTableHistory">размер</div>
					</th>
					<th>
						<div class="textTableHistory">тираж</div>
					</th>
					<th>
						<div class="textTableHistory">бумага</div>
					</th>
					<th>
						<div class="textTableHistory">постпечатная</div>
					</th>
					<th>
						<div class="textTableHistory">цена</div>
					</th>
					<th>
						<div class="textTableHistory">коментарий</div>
					</th>
				</tr>

				<tr onclick="document.location=&#39;/CalculatorResult?id=7&#39;">
					<td>
						<div class="textTableHistory">7</div>
					</td>
					<td>
						<div class="textTableHistory">08.09.2023 12:22:12</div>
					</td>
					<td>
						<div class="textTableHistory">297 x 420</div>
					</td>
					<td>
						<div class="textTableHistory">1 x 1</div>
					</td>
					<td>
						<div class="textTableHistory">Нулевая бумага</div>
					</td>
					<td>
						<div>
							-
						</div>
					</td>
					<td>
						<div class="textTableHistory">90</div>
					</td>
					<td>
						<div class="textTableHistoryComment"></div>
					</td>
				</tr>
				<tr onclick="document.location=&#39;/CalculatorResult?id=6&#39;">
					<td>
						<div class="textTableHistory">6</div>
					</td>
					<td>
						<div class="textTableHistory">07.09.2023 14:21:59</div>
					</td>
					<td>
						<div class="textTableHistory">100 x 100</div>
					</td>
					<td>
						<div class="textTableHistory">5 x 10</div>
					</td>
					<td>
						<div class="textTableHistory">Нулевая бумага</div>
					</td>
					<td>
						<div>
							<img class="imagPos" src="./Калькулятор_files/rolling.svg">
						</div>
					</td>
					<td>
						<div class="textTableHistory">2350</div>
					</td>
					<td>
						<div class="textTableHistoryComment"></div>
					</td>
				</tr>

			</tbody>
		</table>


	</div>

	<div class="venetka" onclick="alert()" style="display: none;"></div>

</div>