@{
	Layout = "_Layout";
}

@section Style {
<link rel="stylesheet" type="text/css" href="/client.css">
}

@section JS{
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="/SignalAdmin.js"></script>

}

<p>на устройстве клиента сайт - /MailTransfer/Client</p>
<div id="inputForm">
	<input type="button" class="button" id="sendBtn" value="Запрос e-mail" />
</div>

<div id="chatroom"></div>