
<div id="inputForm">
	<input type="email" id="message" />
	<input type="button" id="sendBtn" value="Отправить" />
</div>
<div id="chatroom"></div>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="/SignalClient.js"></script>
