.inputNumber {
    width: 30px;
    padding: 12px;
    margin: 8px 0;
    border-style: solid;
    border-left-color: #8fbc8f;
    border-radius: 0;
    border-width: 0;
    border-left-width: 3px;
    background-color: #F4F4F4;
    outline: none;
    -webkit-transition: border-left-color 1s, background-color 1s, border-top-right-radius 1s, border-bottom-right-radius 1s;
}

    .inputNumber:focus {
        border-left-color: #92e4e8;
        background-color: #e3eaee;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

input.button {
    background-color: #69c469;
    /* background-color: #8fbc8f; */

    border: none;
    color: #F4F4F4;
    padding: 10px 0px;
    margin: 0;
    margin-right: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 72px;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.5s;
}

input.buttonNext {
    background-color: #69c469;
    /* background-color: #8fbc8f; */

    border: none;
    color: #F4F4F4;
    padding: 5px 0px;
    margin: 45px 0;
    margin-right: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.5s;
}

input.buttonNext:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input.buttonNext:active {
    background-color: #8fbc8f;
}

input.buttonNextActiv {
    background-color: #69c469;

    border: none;
    background-color: #bfcebf;
    padding: 5px 0px;
    margin: 45px 0;
    margin-right: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    border-radius: 5px;
    cursor: not-allowed;
}

/* настройки связанные с таблицей истории */
.tableFlex {
    display: flex;
}

.tableHistory {
    overflow-x: auto;
}

table {
    border-spacing: 0;
    text-align: center;
    font-family: "Cera Pro", Sans-serif;
}

th,
td {
    /*width: 100%;*/
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 5px 5px 3px 5px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #e0e0e0;
}

.textTableHistory {
    padding: 0 2vw;
}

th {
    background-color: #8fbc8f;
    color: white;
    padding: 15px 0;
}
.imagPos {
    height: 25px;
}